@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits ListComponentBase<TOption>
@typeparam TOption
@if (!String.IsNullOrEmpty(Height))
{
    <style>
        @($"#{Id}:focus-within:not([disabled]) {{outline: none; }}")
    </style>
}
<CascadingValue Value="@_internalListContext" Name="ListContext" TValue="InternalListContext<TOption>" IsFixed="true">
    <div style="@BorderStyle.Build()">
        <FluentInputLabel ForId="@Id" Label="@Label" AriaLabel="@AriaLabel" ChildContent="@LabelTemplate" Required="@Required" />
        <fluent-listbox @ref="Element"
                        id="@Id"
                        class="@ClassValue"
                        style="@($"{StyleValue} border: none; width: 100%;")"
                        disabled="@Disabled"
                        size="@Size"
                        multiple="@Multiple"
                        required="@Required"
                        selectedOptions="@(SelectedOptions != null && SelectedOptions.Any() ? string.Join(',', SelectedOptions.Select(i => GetOptionValue(i))) : null)"
                        @onchange="@OnChangedHandlerAsync"
                        @onkeydown="@OnKeydownHandlerAsync"
                        @attributes="AdditionalAttributes">
            @if (OptionTemplate == null || Items == null)
            {
                @GetListOptions(Items)
            }
            else
            {
                foreach (TOption item in Items)
                {
                    <FluentOption TOption="TOption"
                                    Value="@GetOptionValue(item)"
                                    Selected="@GetOptionSelected(item)"
                                    Disabled="@(GetOptionDisabled(item) ?? false)"
                                    OnSelect="@OnSelectCallback(item)">
                            @OptionTemplate(item)
                    </FluentOption>
                }
            }
        </fluent-listbox>
    </div>
</CascadingValue>
